<div ng-controller="TopController" class="container btn-chart">
	<div class="row">
		<input type="file" id="ScatterPlot" name="file" title="csv for scatter plot chart"/>
		<div class="progress_bar ScatterPlot"><div class="percent">0%</div></div>
	</div>
	<div class="row">
		<input type="file" id="Bivariate" name="file" title="csv for Bivariate chart"/>
		<div class="progress_bar Bivariate"><div class="percent">0%</div></div>
	</div>
	<div class="row">
		<input type="file" id="BarChart" name="file" title="csv for bar chart"/>
		<div class="progress_bar BarChart"><div class="percent">0%</div></div>
	</div>
</div>



